.service-container{
    background: #FFF;
}

.service{
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    .service-poster{
        width: 100%;
        height: 100%;
        background: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 576px)
        {
            height: 160px;
        }
    }

    .service-title{
        font-family: 'bgFont-soja';
        font-size: 32px;
        color: #333;
        .bg{
            font-family: 'bgFont';
            color: $yellow;
        }
    }
    .service-right{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .service-left{
        @media screen and (max-width: 576px)
        {
            padding-right: 0;
        }
    }
    .service-image{
        height: 100px;
        width: 100px;
    }
}